body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  width: 100%;
}
#root  .container {
  max-width: 100% 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.buttomNavBarIcon{
  position: fixed;
  bottom: 0;
  width: 100%;
}
.buttomNavBarIcon  svg{
width: fit-content;
  height: -webkit-fill-available;
}
.navbar-end svg{
  width: min-content;
  height: 35px;
}
.p-progressbar-value{
  background: #6366F1;
  border-radius: 0.75rem;
  
  
}
.p-orderlist-controls{
display: none;

}
.map-container{
  width: 100%;
  height: 80vh;
}
.userInfo input  {
  background-color: white !important;
}
/* Position and style the burger icon */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; /* ensure navbar is above sidebar */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* add box shadow */
}

.sidebar {
  width: 250px;
  background-color: rgb(149, 148, 148);
  height: 100%;
}

